services:
  gateway:
    build:
      context: ./gateway
    environment:
      - CONFIG_PATH=./configs/config.dev.yaml
    ports:
      - "8080:8080"
    networks:
      - app-network
    depends_on:
      - auth
      - tasks
  auth:
    build:
      context: ./auth
    environment:
      - CONFIG_PATH=./configs/config.dev.yaml
    ports:
      - "50050:50050"
    networks:
      - app-network
    depends_on:
      - postgres
      - redis

  tasks:
    build:
      context: ./tasks
    environment:
      - CONFIG_PATH=./configs/config.dev.yaml
    ports:
      - "50051:50051"
    networks:
      - app-network
    depends_on:
      - postgres
      - auth

  notifications:
    build:
      context: ./notifications
    environment:
      - CONFIG_PATH=./configs/config.dev.yaml
      - SMTP_PASSWORD=${SMTP_PASSWORD}
    networks:
      - app-network
    depends_on:
      - kafka

  postgres:
    image: postgres
    environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: pass
        POSTGRES_DB: postgres
    networks:
      - app-network
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
    networks:
      - app-network

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 1
      CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"
    networks:
      - app-network
    volumes:
      - kafka_data:/var/lib/kafka/data
  


networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
  kafka_data: