services:
  gateway:
    build:
      context: ./gateway
    environment:
      - CONFIG_PATH=./configs/config.dev.yaml
    ports:
      - "8080:8080"
    networks:
      - app-network
    depends_on:
      - auth
      - tasks
  auth:
    build:
      context: ./auth
    environment:
      - CONFIG_PATH=./configs/config.prod.yaml
    ports:
      - "50050:50050"
    networks:
      - app-network
    depends_on:
      - postgres
      - redis

  tasks:
    build:
      context: ./tasks
    environment:
      - CONFIG_PATH=./configs/config.dev.yaml
    ports:
      - "50051:50051"
    networks:
      - app-network
    depends_on:
      postgres:
        condition: service_started
      auth:
        condition: service_started
      elasticsearch:
        condition: service_healthy

  notifications:
    build:
      context: ./notifications
    environment:
      - CONFIG_PATH=./configs/config.prod.yaml
      - SMTP_PASSWORD=${SMTP_PASSWORD}
    networks:
      - app-network
    depends_on:
      kafka-init:
        condition: service_completed_successfully

  postgres:
    image: postgres
    environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: pass
        POSTGRES_DB: postgres
    networks:
      - app-network
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
    networks:
      - app-network

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 3000
      KAFKA_NUM_PARTITIONS: 1
      CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"
    healthcheck:
      test: ["CMD", "bash", "-c", "nc -z localhost 9092 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 30s
    networks:
      - app-network
    volumes:
      - kafka_data:/var/lib/kafka/data

  kafka-init:
    image: apache/kafka:latest
    depends_on:
      kafka:
        condition: service_healthy 
    command: >
      bash -c "
        echo 'Waiting for Kafka to be ready...'
        sleep 5
        
        /opt/kafka/bin/kafka-topics.sh --list --bootstrap-server kafka:9092
        echo 'Creating topics...'
        
        /opt/kafka/bin/kafka-topics.sh --create --if-not-exists --bootstrap-server kafka:9092 --topic email-verification --partitions 1 --replication-factor 1
        
        /opt/kafka/bin/kafka-topics.sh --create --if-not-exists --bootstrap-server kafka:9092 --topic events --partitions 1 --replication-factor 1
        
        echo 'Listing topics:'
        /opt/kafka/bin/kafka-topics.sh --list --bootstrap-server kafka:9092
        
        echo 'Topics created successfully!'
      "
    networks:
      - app-network
  
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    networks:
      - app-network
    volumes:
      - es_data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
      interval: 10s
      timeout: 5s
      retries: 10




networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  redis_data:
  kafka_data:
  es_data: