version: '3.8'

services:
  auth:
    build:
      context: ./auth
    environment:
      - CONFIG_PATH=./configs/config.dev.yaml
    ports:
      - "50050:50050"
    networks:
      - app-network
    depends_on:
      - postgres

  tasks:
    build:
      context: ./tasks
    environment:
      - CONFIG_PATH=./configs/config.dev.yaml
    ports:
      - "50051:50051"
    networks:
      - app-network
    depends_on:
      - postgres

  notifications:
    build:
      context: ./notifications
    environment:
      - CONFIG_PATH=./configs/config.dev.yaml
      - SMTP_PASSWORD=${SMTP_PASSWORD}
    networks:
      - app-network
    depends_on:
      - kafka

  postgres:
    image: postgres
    environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: pass
        POSTGRES_DB: postgres
    networks:
      - app-network
    volumes:
      - db_data:/var/lib/postgresql

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    networks:
      - app-network



networks:
  app-network:
    driver: bridge

volumes:
  db_data: